html {
    color-scheme: light dark;
}

header,
main,
footer {
    min-height: 64px;
}

:root {
    --color-text: 129, 54%, 5%;
    --color-background: 127, 60%, 97%;

    /* font-family: system-ui */
    --font-text: system-ui, sans-serif;
        --font-accent: system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: 0, 0%, 98%;
        --color-background: 0, 0%, 2%;
    }
svg {
    fill: white;
}
}

body {
    line-height: 1.6;
    font-family: var(--font-text);
    color: hsl(var(--color-text));
    background-color: hsl(var(--color-background));
}

h1,
h2,
h3 {
    font-family: var(--font-accent);
    /* NOTE smaller line height for larger font sizes */
    line-height: 1.1;
    /* NOTE https://developer.mozilla.org/en-US/docs/Web/CSS/text-wrap */
    text-wrap: balance;
}

.wrapper {
    /* ch based on reading line */
    width: min(100% - 3rem, 55ch);
    margin-inline: auto;
}

.flow>*+* {
    /* space is now dynamic */
    margin-top: var(--flow-space, 1em);
}

.main-layout {
    min-height: 100vh;
    min-width: 100dvh;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.logo {
    /* height: auto; */
    max-height: 32px;
}